header {
  height: auto;
  background: rgb(10,10,10);
  color: rgb(240,240,240);
  /* position: relative; */
  box-sizing: border-box;
  
  h1 {
    padding: 1rem 2rem;
    /* display: inline-block; */
    font-size: 2rem;
    color: red;
  }
}

/* main {
  padding: 2rem;
} */