.room {
  padding: 2rem;

  h2, h3 { text-transform: uppercase; }

  h2 { font-size: 1.4rem; margin-bottom: 1rem; }

  p { line-height: 1.6rem; }

  h3 { font-size: 1.2rem; margin-top: 1.5rem; }

  ul { 
    list-style: none; 
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .itemList {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  li > button{
    background: black;
    color: white;
    text-transform: uppercase;
    border: none;
    margin: 1rem .5rem;
    padding: .5rem;
    &:hover { background: red; color: black; }
  }
}